.current td {background-color: #d2d2d2;}
.won td {background-color: yellowgreen}
.won .game {background-color: darkgreen; color: white;}
.lost td {background-color: salmon;}
.lost .game {background-color: #900; color: white;}
.jigo td {background-color: lightgray}
.jigo .game {background-color: darkgray;}